{% extends "base.html" %}

{% block title %}
    <title>เกี่ยวกับฉัน</title>
{% endblock %}

{% block content %}
    <h1 class="text-center", style="color:#1b1b1b;">About Me</h1>
    <h2 style="color:blue;">Mr. Akararapon Lhuengaroon</h2>
    <h2 style="color:blue;">Student ID: 65130415</h2>
    <h2 style="color:blue;">  </h2>

    <!-- Add a CSS temoplate -->
    <body class="yellow-background">

    <!-- Add image "image_me.jpg" -->    
     <img src="/static/images/image_me.jpg" alt="Image description" style="display: block; margin: 0 auto; width: 500px; height: auto;">

     <h1 class="text-center", style="color:#1b1b1b;"> </h1>
     <h1 class="text-center", style="color:#1b1b1b;">. . .</h1>
    {% endblock %}


