{% extends "base.html" %}

{% block title %}
    <title>เกี่ยวกับงานวิจัยที่เราสนใจ</title>
{% endblock %}

{% block content %}
     <!-- Add a CSS temoplate -->
     <body class="blue-background">
    <h1 style="color:blue;">RESEARCH INFO</h1>
    <p>ความสนใจ: การวิเคราะห์เปรียบเทียบ Machine Learning Techniques: Neural Networks, Random Forest และ XGBoost</p>
    <p>งานวิจัยนี้มีวัตถุประสงค์เพื่อเปรียบเทียบเทค Machine Learning Techniques 3 เทคนิค ได้แก่ Neural Networks, Random Forest และ XGBoost 
        เพื่อระบุข้อดีและข้อจำกัด รวมถึงการนำไปใปใช้งานที่เหมาะสม การศึกษาจะใช้ Server Host สำหรับการเรียกใช้ Machine Learning Algorithm และชุดข้อมูลที่หลากหลาย 
        รวมถึงข้อมูลเซ็นเซอร์ที่สร้างขึ้นและภาพที่จัดเตรียมไว้ แต่ละเทคนิคจะผ่านการแบ่งข้อมูลออกเป็น Model Training และ Model Testing โดยใช้ข้อมูลที่เหมือนกัน 
        เพื่อให้มั่นใจว่าสัดส่วนและข้อมูลที่ใช้ในการทดลองสอดคล้องกัน มีการกำหนดตัวแปรควบคุม ผลลัพธ์ที่ได้จะถูกเปรียบเทียบเพื่อสรุปผล</p>
    <p>วิธีการ:<br>
    1. การหาข้อมูล(Raw Data):<br>
    - ชุดข้อมูลที่สร้างขึ้น: ชุดข้อมูลจาก BOT จะถูกสร้างขึ้นเพื่อจำลองสถานการณ์ต่างๆ เช่น จาก Sensor หลายๆประเภท <br>
    - รูปภาพ: ชุดข้อมูลภาพที่หามาจากเว็บไซต์ <br>
    - ชุดข้อมูลทั้งหมดที่คาดว่าจะจัดหามาจะมีปริมาณที่มากพอสมควรเพื่อให้ Machine Learning ใช้สำหรับ Train Model ได้อย่างแหมาะสม</p>

    <p>2. การฝึกอบรมแบบจำลอง Model และการประเมินผล:<br>
    - ชุดข้อมูลจะถูกแบ่งออกเป็นชุดการฝึกและการทดสอบโดยมีสัดส่วนคงที่สำหรับแต่ละเทคนิค จะใช้การแบ่งเปอร์เซ็นของข้อมูลแบบเดียวกัน
    เช่น 80% สำหรับ Medel Training และ 20% สำหรับ Model Testing เพื่อรักษาการเปรียบเทียบที่มีการควบคุม <br>
    - แต่ละ Machine Learning Technique จะได้รับการฝึกอบรมในชุดข้อมูลการฝึกอบรมและประเมินผลในชุดข้อมูลการทดสอบ </p>

    <p>3. การประเมินผล<br>
    - การประเมินผลที่คาดว่าทำได้ เช่น ความแม่นยำ(accuracy) การเรียกคืน(precision) และคะแนน(F1-score) จะถูกใช้เพื่อประเมินประสิทธิภาพ
    ของแต่ละเทคนิค </p>

    <h2 style="color:blue;">Machine Learning Techniques</h2>
    <p>1. Neural Networks (เครือข่ายประสาทเทียม):<br>
    เครือข่ายประสาทเทียมเป็นโมเดลเรียนรู้ของเครื่องที่ได้รับแรงบันดาลใจจากโครงสร้างของระบบประสาทในสมองมนุษย์ มีโครงสร้างที่ประกอบด้วย
    เลเยอร์ของโหนด (nodes) ที่เชื่อมต่อกันเป็นเครือข่าย โดยแต่ละโหนดจะมีค่าน้ำหนักและฟังก์ชันกระตุ้น (activation function) 
    ซึ่งช่วยปรับข้อมูลเพื่อให้เครือข่ายสามารถเรียนรู้รูปแบบและลักษณะของข้อมูลได้ การเรียนรู้ในเครือข่ายประสาทเทียมจำเป็นต้องมีการให้ข้อมูลฝึก 
    (training data) เพื่อปรับค่าน้ำหนักของโหนดให้เหมาะสมกับการทำนายข้อมูลใหม่ </p>

    <p>2. Random Forest:<br>
    Random Forest เป็นเทคนิคการเรียนรู้ของเครื่องที่เป็นทางเลือกหนึ่งของต้นไม้การตัดสินใจ (Decision Trees)
    ซึ่งเป็นโมเดลที่ใช้ในการจัดสรรข้อมูลเป็นกลุ่ม โดย Random Forest จะสร้างหลายๆ ต้นไม้การตัดสินใจจากชุดข้อมูลฝึกที่ถูกสุ่มเลือก 
    และใช้กระบวนการสองระดับ (bagging) เพื่อให้ผลการทำนายที่แน่นอนกว่า โดยโมเดลจะทำนายผลลัพธ์โดยการรวมผลลัพธ์ที่ได้จาก 
    decision tree แต่ละต้นเข้าด้วยกัน </p>

    <p> 3. XGBoost: <br>
    XGBoost (eXtreme Gradient Boosting) เป็นอัลกอริทึมที่พัฒนามาจาก Gradient Boosting ซึ่งเป็นเทคนิคการเรียนรู้ของเครื่องที่ใช้ปรับข้อผิดพลาด
    ของโมเดลก่อนหน้า โดยการเรียนรู้ทีละขั้นตอน เป้าหมายของ XGBoost คือการลดข้อผิดพลาดของโมเดลอย่างต่ำที่สุด โดยอาศัยการคำนวณเสียค่าของข้อผิดพลาดในแต่ละครั้ง 
    เพื่อปรับค่าน้ำหนักของโมเดลให้ดีขึ้นตามลำดับ </p>

{% endblock %}


